/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for EMBL-EBI Codon Cluster for the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Saul Pierotti
Mail: saul@ebi.ac.uk
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_contact = "Saul Pierotti (@saulpierotti)"
    config_profile_description = "The European Bioinformatics Institute HPC cluster (codon) profile for the SLURM login nodes"
    config_profile_url = "https://www.ebi.ac.uk/"
    input_csv = null
    single_exon = true
    
}

singularity {
    enabled = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "3 hours"
}

process{
    // this is to avoid errors for missing files due to shared filesystem latency
    maxRetries = 3
    errorStrategy = { ( task.exitStatus == 0 ) ? "retry" : "terminate" }
    cache = "lenient"
    afterScript = "sleep 60" // to avoid fail when using storeDir for missing output
    time = "4h"
    memory="10GB"
    
    
}

executor {
    name = "slurm"
    queueSize = 2000
    submitRateLimit = "10/1sec"
    exitReadTimeout = "30 min"
    time = '01:30:00'
    jobName = {
        task.name // [] and " " not allowed in lsf job names
            .replace("[", "(")
            .replace("]", ")")
            .replace(" ", "_")
    }
}

plugins {
    id 'nf-boost'
    id 'nf-schema@2.2.0'
}


// Load params.config which reads in all of the file inputs for the pipeline
includeConfig 'conf/params.config'
nextflow.enable.moduleBinaries = true
process.container = 'threeprimecontainer_latest.sif'
singularity.enabled = true