params {
    outputDir = 'outputs'
    fantom = '/nfs/production/flicek/ensembl/havana/lucascortes/polyA-DB/data/FANTOM6CATtranscript.gff'
    encode = '/nfs/production/flicek/ensembl/havana/lucascortes/polyA-DB/data/ENCODE_LongReadModels.gtf'
    polyA = '/nfs/production/flicek/ensembl/havana/lucascortes/polyA-DB/data/atlas.clusters.2.0.GRCh38.96.filtered.bed'
    human1 = "/nfs/production/flicek/ensembl/havana/lucascortes/polyA-DB/data/matched_filtered_human_exons.gff"
    human = "/nfs/production/flicek/ensembl/havana/lucascortes/grabAnnotation/latestAnnotation/Homo_sapiens.GRCh38.114.chr.gff3"
    cleanup = "/nfs/production/flicek/ensembl/havana/lucascortes/polyA-DB/nextflowScripts/modules/cleanup/removeDupPolyA.py"
    referenceGff = "/nfs/production/flicek/ensembl/havana/lucascortes/polyA-DB/data/Homo_sapiens.GRCh38.112.chr.NoReadthrough.ProteinCoding.gff3"
    readThroughs = "/nfs/production/flicek/ensembl/havana/lucascortes/polyA-DB/data/readthroughList/readthroughList.txt"
}





